{:paths   ["src/main"]
 :deps    {io.helidon.nima.webserver/helidon-nima-webserver {:mvn/version "4.0.0-ALPHA6"}
           io.helidon.logging/helidon-logging-slf4j         {:mvn/version "4.0.0-ALPHA6"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
                                    org.clojure/tools.namespace    {:mvn/version "1.4.4"}
                                    org.clojure/tools.logging      {:mvn/version "1.2.4"}
                                    ch.qos.logback/logback-classic {:mvn/version "1.4.6"}
                                    org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.7"}
                                    org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.7"}
                                    org.slf4j/jul-to-slf4j         {:mvn/version "2.0.7"}}
                      :jvm-opts    ["--enable-preview"]}

           :test     {:extra-paths ["src/test"]
                      :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.82.1306"}
                                    nubank/matcher-combinators {:mvn/version "3.8.5"}
                                    clj-http/clj-http          {:mvn/version "3.12.3"}}
                      :jvm-opts    ["--enable-preview"]}

           :outdated {:replace-deps {olical/depot        {:mvn/version "RELEASE"}
                                     org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
                      :main-opts    ["-m" "depot.outdated.main"
                                     "--aliases" "dev,test"]}}}
