{:paths   ["src/main"]
 :deps    {io.helidon.webserver/helidon-webserver                {:mvn/version "4.0.0-M2"}
           io.helidon.webserver/helidon-webserver-static-content {:mvn/version "4.0.0-M2"}
           io.helidon.webserver/helidon-webserver-http2          {:mvn/version "4.0.0-M2"}
           io.helidon.webserver/helidon-webserver-sse            {:mvn/version "4.0.0-M2"}
           io.helidon.websocket/helidon-websocket                {:mvn/version "4.0.0-M2"}
           io.helidon.logging/helidon-logging-slf4j              {:mvn/version "4.0.0-M2"}
           metosin/jsonista                                      {:mvn/version "0.3.7"}
           com.cognitect/transit-clj                             {:mvn/version "1.0.333"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
                                    org.clojure/tools.namespace    {:mvn/version "1.4.4"}
                                    org.clojure/tools.logging      {:mvn/version "1.2.4"}
                                    ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
                                    org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.9"}
                                    org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.9"}
                                    org.slf4j/jul-to-slf4j         {:mvn/version "2.0.9"}}}

           :test     {:extra-paths ["src/test"]
                      :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.86.1355"}
                                    nubank/matcher-combinators {:mvn/version "3.8.8"}
                                    clj-http/clj-http          {:mvn/version "3.12.3"}}}

           :examples {:extra-paths ["src/examples"]}

           :outdated {:replace-deps {olical/depot        {:mvn/version "RELEASE"}
                                     org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
                      :main-opts    ["-m" "depot.outdated.main"
                                     "--aliases" "dev,test"]}}}
